.portal-lp-iframe {
  top: 59px;

  &--resized {
    top: 59px + 24px;
    border-radius: 2px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9fafa));
    background-image: linear-gradient(#fff, #f9fafa);
    -webkit-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
}

.portal-lp-toolbar {
  padding: 14px 24px 13px;
  background: rgba(0, 0, 0, 0.03);
}