.portal-lp-iframe-container {

  // Toolbar
  .header {
    padding: 14px 24px 13px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 0;

    .btngroup {
      margin: -4px auto -41px auto;
      width: 192px;
    }

    .portal-btn {
      margin: 0 12px;
      cursor: pointer;

      &::before {
        width: 40px;
        height: 40px;
        display: inline-block;
        content: ' ';
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: center;
        transition-duration: .3s;
      }

      &:active::before {
        background-size: 38px 38px;
      }

      &--active:active::before {
        background-size: 40px 40px;
      }

      &--desktop::before {
        background-image: url(../svg/icons/iMac.svg);
      }
      &--tablet::before {
        background-image: url(../svg/icons/iPad.svg);
      }
      &--mobile::before {
        background-image: url(../svg/icons/iPhone.svg);
      }
    }
  }

  // The iframe
  .lp-iframe {
    top: 59px;
  }

  // Hide device mask for desktop
  .portal-device-mask {
    display: none;
  }

  // Active state of mobile or tablet mode
  &--resized {
    background: #222;
    overflow: auto;

    // Toolbar
    .header {
      background: rgba(255, 255, 255, 0.06);

      > .btn {
        background: #444;
        color: #fff;

        &:hover {
          background: #3e3e3e;
        }
      }

      .portal-btn {
        opacity: 0.65;
        transition-duration: .1s;

        &--active,
        &:hover {
          opacity: 1;
        }
      }

      .portal-btn--desktop::before {
        background-image: url(../svg/icons/iMac-white.svg);
      }
      .portal-btn--tablet::before {
        background-image: url(../svg/icons/iPad-white.svg);
      }
      .portal-btn--mobile::before {
        background-image: url(../svg/icons/iPhone-white.svg);
      }

    }

    // The iframe
    .lp-iframe {
      z-index: 2;
      top: 181px;
      margin-bottom: 24px;

      background: #fff !important;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9fafa));
      background-image: linear-gradient(#fff, #f9fafa);
      -webkit-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
    }

    // Device mask - mobile
    .portal-device-mask {
      display: block;
      position: absolute;
      z-index: 1;

      top: 83px;
      left: 50%;
      margin-left: -(426px/2);
      margin-bottom: 24px;

      width: 426px;
      height: 853px;

      background-image: url(../svg/iPhone-large.svg);
      background-repeat: no-repeat;

      transition: transform .3s;

    }

    // Tablet mode
    &.portal-lp-iframe-container--tablet {

      // The iframe
      .lp-iframe {
        top: 184px;
      }

      // Device mask - tablet
      .portal-device-mask {
        background-image: url(../svg/iPad-large.svg);

        margin-left: -(841px / 2);

        width: 841px;
        height: 1252px;
      }
    }

  }




  // Landscape mode
  &--landscape {

    // Toolbar
    .header {

      .portal-btn--tablet::before,
      .portal-btn--mobile::before {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        transition-duration: .3s;
      }

    }

    // Device mask - mobile
    .portal-device-mask {
      top: -57px;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      margin-left: -((426px/2)-2); // no idea why this is happening
    }


    // Tablet mode
    &.portal-lp-iframe-container--tablet {

      // Device mask - tablet
      .portal-device-mask {
        margin-left: -((841px/2)+2);
      }
    }

  }

}
