.portal-lp {

  // Toolbar
  .header {
    padding: 14px 24px 13px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    width: inherit;
    height: 59px;

    // Only show this when resized (non-desktop breakpoints)
    .portal-lp-orientation-btn,
    .portal-lp-zoom-btn {
      display: none;
    }

    .no-outline:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .portal-lp-breakpoints {
      margin: -36px auto 0 auto;
      width: 209px;
    }

    .portal-lp-btngroup {
      display: inline-block;
    }

    .portal-lp-btn {
      margin: 0 12px;
      cursor: pointer;

      &::before {
        width: 40px;
        height: 40px;
        display: inline-block;
        content: ' ';
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: center;
        transition-duration: .3s;
      }

      // Hover state
      &:active::before { background-size: 38px 38px; }

      // Not for currently active btn
      &--active:active::before { background-size: 40px 40px; }

      // SVGs
      &--desktop::before { background-image: url(../svg/iMac.svg);   }
      &--tablet::before  { background-image: url(../svg/iPad.svg);   }
      &--mobile::before  { background-image: url(../svg/iPhone.svg); }
    }
  }

  // The iframe
  .lp-iframe {
    top: 59px;
  }

  // Hide device mask for desktop
  .portal-lp-device-mask {
    display: none;
  }

  // Active state of mobile or tablet mode
  &--resized {
    background: #222;
    overflow: auto;

    // Toolbar
    .header {
      background: #2F2F2F;

      .portal-lp-btngroup .btn {
        background: #444;
        color: #fff;

        &:hover {
          background: #3e3e3e;
        }
      }

      .portal-lp-orientation-btn,
      .portal-lp-zoom-btn {
        display: inline-block;
      }

      .portal-lp-btn {
        opacity: 0.65;
        transition-duration: .1s;

        &--active,
        &:hover {
          opacity: 1;
        }
      }

      .portal-lp-btn--desktop::before { background-image: url(../svg/iMac-white.svg);   }
      .portal-lp-btn--tablet::before  { background-image: url(../svg/iPad-white.svg);   }
      .portal-lp-btn--mobile::before  { background-image: url(../svg/iPhone-white.svg); }

    }

    // The iframe
    .lp-iframe {
      z-index: 2;
      top: 74px;
      margin-bottom: 24px;

      background: #fff !important;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9fafa));
      background-image: linear-gradient(#fff, #f9fafa);
      -webkit-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);

      opacity: 1;
      transform: scale(0.75) rotate(0deg);
      transition: opacity .3s, transform .3s, top .3s;
      // TODO
      // GAH, need the transform transition here otherwise scale doesn’t
      // animate, but then when the rotating class is taken _off_ we get
      // it animating back around when we want that to be 0s.
    }

    // Device mask - mobile
    .portal-lp-device-mask {
      display: block;
      position: absolute;
      z-index: 1;

      top: -24px;
      left: 50%;
      margin-left: -(426px/2);
      margin-bottom: 24px;

      width: 426px;
      height: 853px;

      background-image: url(../svg/iPhone.svg);
      background-repeat: no-repeat;

      transform: scale(0.75) rotate(0deg);
      transition: transform .3s, top .3s;
    }

    // Zoomed portrait - mobile
    &.portal-lp--zoom-full {
      .lp-iframe {
        top: 181px;
        transform: scale(1) rotate(0deg);
      }
      .portal-lp-device-mask {
        top: 83px;
        transform: scale(1) rotate(0deg);
      }
    }
    &.portal-lp--zoom-half {
      .lp-iframe {
        top: -33px;
        transform: scale(0.5) rotate(0deg);
      }
      .portal-lp-device-mask {
        top: -131px;
        transform: scale(0.5) rotate(0deg);
      }
    }

    // Tablet mode
    &.portal-lp--tablet {

      // The iframe
      .lp-iframe {
        top: 51px;
      }

      // Device mask - tablet
      .portal-lp-device-mask {
        top: -74px;
        background-image: url(../svg/iPad.svg);

        margin-left: -(841px / 2);

        width: 841px;
        height: 1252px;
      }

      // Zoomed portrait - tablet
      &.portal-lp--zoom-full {
        .lp-iframe {
          top: 208px;
        }
        .portal-lp-device-mask {
          top: 83px;
        }
      }
      &.portal-lp--zoom-half {
        .lp-iframe {
          top: -105px;
        }
        .portal-lp-device-mask {
          top: -230px;
        }
      }
    }

  }


  // Landscape mode
  &--landscape {

    // Toolbar
    .header {

      .portal-lp-btn--tablet::before,
      .portal-lp-btn--mobile::before {
        transform: scale(0.75) rotate(-90deg);
        transition-duration: .3s;
      }

    }

    // Iframe - mobile
    .lp-iframe {
      top: 55px;
    }

    // Device mask - mobile
    .portal-lp-device-mask {
      top: -184px;
      transform: scale(0.75) rotate(-90deg);
      margin-left: -((426px/2)-2); // no idea why this is happening
    }


    // Zoomed landscape - mobile
    &.portal-lp--zoom-full {
      .lp-iframe {
        top: 107px;
      }
      .portal-lp-device-mask {
        top: -131px;
        transform: scale(1) rotate(-90deg);
      }
    }
    &.portal-lp--zoom-half {
      .lp-iframe {
        top: 2px;
      }
      .portal-lp-device-mask {
        top: -237px;
        transform: scale(0.5) rotate(-90deg);
      }
    }


    // Tablet mode
    &.portal-lp--tablet {

      .lp-iframe {
        top: 14px;
      }

      .portal-lp-device-mask {
        top: -228px;
        margin-left: -((841px/2)+2);
      }

      &.portal-lp--zoom-full {
        .lp-iframe {
          top: 118px;
        }
        .portal-lp-device-mask {
          top: -123px;
        }
      }
      &.portal-lp--zoom-half {
        .lp-iframe {
          top: -91px;
        }
        .portal-lp-device-mask {
          top: -333px;
        }
      }

    }

  }


  // TODO finish off vvvv

  // Whilst rotating the iframe mid animation
  &--rotating {

    .lp-iframe {
      opacity: 0.3;
      top: 320px;
      transform: scale(0.75) rotate(90deg);
      transition: transform .3s, opacity .3s, top .3s;
    }

    &.portal-lp--zoom-full .lp-iframe {
      top: 320px;
      transform: scale(1) rotate(90deg);
    }
    &.portal-lp--zoom-half .lp-iframe {
      top: 320px;
      transform: scale(0.5) rotate(90deg);
    }

    &.portal-lp--landscape {
      .lp-iframe {
        top: 42px;
        transform: scale(0.75) rotate(-90deg);
      }
      &.portal-lp--zoom-full .lp-iframe {
        top: 42px;
        transform: scale(1) rotate(-90deg);
      }
      &.portal-lp--zoom-half .lp-iframe {
        top: 42px;
        transform: scale(0.5) rotate(-90deg);
      }
    }

    &.portal-lp--tablet {
      .lp-iframe {
        top: 327px;
      }

      &.portal-lp--zoom-full .lp-iframe {
        top: 327px;
      }
      &.portal-lp--zoom-half .lp-iframe {
        top: 327px;
      }

      &.portal-lp--landscape {
        .lp-iframe {
          top: 65px;
        }
        &.portal-lp--zoom-full .lp-iframe {
          top: 65px;
        }
        &.portal-lp--zoom-half .lp-iframe {
          top: 65px;
        }
      }
    }

  }


  // TODO finish off
  &--rotating-done {
    .lp-iframe {
      transform: scale(0.75) rotate(0deg);
      transition: opacity .3s, transform 0s, top .3s;
    }
    &.portal-lp--zoom-full .lp-iframe {
      transform: scale(1) rotate(0deg);
    }
    &.portal-lp--zoom-half .lp-iframe {
      transform: scale(0.5) rotate(0deg);
    }

    &.portal-lp--landscape {
      .lp-iframe {
        transform: scale(0.75) rotate(-90deg);
        transition: opacity .3s, transform 0s, top .3s;
      }
      &.portal-lp--zoom-full .lp-iframe {
        transform: scale(1) rotate(-90deg);
      }
      &.portal-lp--zoom-half .lp-iframe {
        transform: scale(0.5) rotate(-90deg);
      }
    }
  }

}

.portal-lp-menu.dark {

  .sel {
    background: #656565;
  }

}